doctype html
html.no-js(lang='')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='apple-touch-icon', href='apple-touch-icon.png')
		//- Place favicon.ico in the root directory
		link(rel='stylesheet', href='index.css')
		script(src='//cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js')
	body.gradient-1
		include includes/symbols.svg
		//- //if lt IE 8
		//- 	p.browserupgrade
		//- 		| You are using an 
		//- 		strong outdated
		//- 		|	browser. Please 
		//- 		a(href='http://browsehappy.com/') upgrade your browser
		//- 		|	to improve your experience.
		.mkbl-wrapper
			form.mkbl-form
				.mkbl-form-main-field
					fieldset#enter-field-name.mkbl-fieldset
						label.mkbl-main-label What is your Name?* 
						input.mkbl-main-input(type="text")
						i.js-form-next.mkbl-right-arrow.mkbl-form-arrow
							svg: use(xlink:href='#icon-carrot')
					fieldset#enter-field-email.mkbl-fieldset.is-hidden
						label.mkbl-main-label What is your email?* 
						input.mkbl-main-input(type="text")
						i.js-form-next.mkbl-right-arrow.mkbl-form-arrow
							svg: use(xlink:href='#icon-carrot')
					fieldset#enter-field-org.mkbl-fieldset.is-hidden
						label.mkbl-main-label What is your Organization?* 
						input.mkbl-main-input(type="text")
						i.js-form-next.mkbl-right-arrow.mkbl-form-arrow
							svg: use(xlink:href='#icon-carrot')
					fieldset#enter-field-inquiry.mkbl-fieldset.is-hidden
						label.mkbl-main-label What type of inquiry is this?*
						input.mkbl-main-input.position-absolute(type="text" value='Choose Type') 
						select.mkbl-main-input.mkbl-select(type="text")
							option(value='this1') Alliance
							option(value='this2') Alumni
							option(value='this3') Career Services
							option(value='this3') Investor Relations
							option(value='this3') Media
							option(value='this3') Request for Services
						i.js-form-next.mkbl-right-arrow.mkbl-form-arrow
							svg: use(xlink:href='#icon-carrot')
					.mkbl-form-progress-bar
						.mkbl-form-progress-bar-progress

				.mkbl-form-subfields
					fieldset#field-name.mkbl-fieldset
						label.mkbl-label(for="") Name*
						div.mkbl-subinput
							i: svg: use(xlink:href='#icon-ellipse')
						div.mkbl-fieldset-bg
					fieldset#field-email.mkbl-fieldset
						label.mkbl-label(for="") Email*
						div.mkbl-subinput
						//- i: svg: use(xlink:href='#icon-ellipse') 
						div.mkbl-fieldset-bg
					fieldset#field-org.mkbl-fieldset
						label.mkbl-label(for="") Organization*
						div.mkbl-subinput
							i: svg: use(xlink:href='#icon-ellipse')
						div.mkbl-fieldset-bg
					fieldset.mkbl-fieldset
						label.mkbl-label(for="") Phone Number*
						div.mkbl-subinput
							i: svg: use(xlink:href='#icon-ellipse')
						div.mkbl-fieldset-bg
					fieldset.mkbl-fieldset
						label.mkbl-label(for="") Region*
						div.mkbl-subinput
							i: svg: use(xlink:href='#icon-ellipse')
						div.mkbl-fieldset-bg
					fieldset#field-inquiry.mkbl-fieldset
						label.mkbl-label(for="") Inquiry Type*
						div.mkbl-subinput
							i: svg: use(xlink:href='#icon-ellipse')
						div.mkbl-fieldset-bg
					//- fieldset.mkbl-fieldset
					//- 	label.mkbl-label(for="") Size of Business
					//- 	div.mkbl-subinput
					//- 		//- i: svg: use(xlink:href='#icon-ellipse')
					//- 	div.mkbl-fieldset-bg
					//- fieldset.mkbl-fieldset
					//- 	label.mkbl-label(for="") Size of Engagement
					//- 	div.mkbl-subinput
					//- 		//- i: svg: use(xlink:href='#icon-ellipse')
					//- 	div.mkbl-fieldset-bg
					//- fieldset.mkbl-fieldset
					//- 	label.mkbl-label(for="") Comments &amp; Attachments
					//- 	div.mkbl-subinput
					//- 		//- i: svg: use(xlink:href='#icon-ellipse')
					//- 	div.mkbl-fieldset-bg
			button.mkbl-button Submit

		script(src='app.js')
		//- Google Analytics: change UA-XXXXX-X to be your site's ID.
		script.
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X','auto');ga('send','pageview');
