doctype html
html.no-js(lang='')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='apple-touch-icon', href='apple-touch-icon.png')
		//- Place favicon.ico in the root directory
		link(rel='stylesheet', href='index.css')
		script(src='//cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js')
	body.gradient-1
		include includes/symbols.svg
		//- //if lt IE 8
		//- 	p.browserupgrade
		//- 		| You are using an 
		//- 		strong outdated
		//- 		|	browser. Please 
		//- 		a(href='http://browsehappy.com/') upgrade your browser
		//- 		|	to improve your experience.
		nav
			a(href='index.html') Slider
			a(href='form.html') Form
		.mkbl-wrapper
			.center
				form.mkbl-form
					.mkbl-form-main-field
						fieldset#enter-field-name.mkbl-fieldset.is-hidden
							label.mkbl-main-label What is your Name?* 
							input.mkbl-main-input(type="text")
							i.js-form-next.mkbl-right-arrow.mkbl-form-arrow
								svg: use(xlink:href='#icon-carrot')
						fieldset#enter-field-email.mkbl-fieldset.is-hidden
							label.mkbl-main-label What is your email?* 
							input.mkbl-main-input(type="text")
							i.js-form-next.mkbl-right-arrow.mkbl-form-arrow
								svg: use(xlink:href='#icon-carrot')
						fieldset#enter-field-org.mkbl-fieldset.is-hidden
							label.mkbl-main-label What is your Organization?* 
							input.mkbl-main-input(type="text")
							i.js-form-next.mkbl-right-arrow.mkbl-form-arrow
								svg: use(xlink:href='#icon-carrot')
						fieldset#enter-field-phone.mkbl-fieldset.is-hidden
							label.mkbl-main-label What is your Phone Number?* 
							input.mkbl-main-input(type="text")
							i.js-form-next.mkbl-right-arrow.mkbl-form-arrow
								svg: use(xlink:href='#icon-carrot')
						fieldset#enter-field-region.mkbl-fieldset.is-hidden
							label.mkbl-main-label What is your region?*
							div.hide-overflow
								select.mkbl-main-input.mkbl-select(type="text")
									option(value='') Select Your Region
									option(value='North America') North America
									option(value='South America') South America
									option(value='Europe') Europe
									option(value='Middle East') Middle East
									option(value='APAC') APAC
									option(value='India') India
							i.js-form-next.mkbl-down-arrow.mkbl-form-arrow
								svg: use(xlink:href='#icon-carrot')
						fieldset#enter-field-inquiry.mkbl-fieldset.is-hidden
							label.mkbl-main-label What type of inquiry is this?*
							div.hide-overflow
								select.mkbl-main-input.mkbl-select(type="text")
									option(value='Alliance') Alliance
									option(value='Alumni') Alumni
									option(value='Career Services') Career Services
									option(value='Investor Relations') Investor Relations
									option(value='Media') Media
									option(value='Request for Services') Request for Services
							i.js-form-next.mkbl-down-arrow.mkbl-form-arrow
								svg: use(xlink:href='#icon-carrot')
						.mkbl-form-progress-bar
							.mkbl-form-progress-bar-progress
						.mkbl-form-hint.is-input
							i
								svg: use(xlink:href='#icon-tab')
							span.mkbl-input-hint TAB to Continue
						.mkbl-form-hint.is-select
							i
								svg: use(xlink:href='#icon-tab')
							span.mkbl-select-hint Use up &amp; down arrows
					.mkbl-form-subfields
						fieldset#field-name.mkbl-fieldset.is-clean
							label.mkbl-label(for="") Name*
							div.mkbl-subinput
								i: svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='62px', height='32.667px', viewbox='0 0 62 32.667', enable-background='new 0 0 62 32.667', xml:space='preserve')
										circle.circle-3(fill='currentColor', cx='45', cy='16', r='4')
										circle.circle-2(fill='currentColor', cx='32', cy='16', r='4')
										circle.circle-1(fill='currentColor', cx='19', cy='16', r='4')

							div.mkbl-fieldset-bg
						fieldset#field-email.mkbl-fieldset.is-clean
							label.mkbl-label(for="") Email*
							div.mkbl-subinput
								i: svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='62px', height='32.667px', viewbox='0 0 62 32.667', enable-background='new 0 0 62 32.667', xml:space='preserve')
										circle.circle-3(fill='currentColor', cx='45', cy='16', r='4')
										circle.circle-2(fill='currentColor', cx='32', cy='16', r='4')
										circle.circle-1(fill='currentColor', cx='19', cy='16', r='4')
							div.mkbl-fieldset-bg
						fieldset#field-org.mkbl-fieldset.is-clean
							label.mkbl-label(for="") Organization*
							div.mkbl-subinput
								i: svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='62px', height='32.667px', viewbox='0 0 62 32.667', enable-background='new 0 0 62 32.667', xml:space='preserve')
										circle.circle-3(fill='currentColor', cx='45', cy='16', r='4')
										circle.circle-2(fill='currentColor', cx='32', cy='16', r='4')
										circle.circle-1(fill='currentColor', cx='19', cy='16', r='4')
							div.mkbl-fieldset-bg
						fieldset#field-phone.mkbl-fieldset.is-clean
							label.mkbl-label(for="") Phone Number*
							div.mkbl-subinput
								i: svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='62px', height='32.667px', viewbox='0 0 62 32.667', enable-background='new 0 0 62 32.667', xml:space='preserve')
										circle.circle-3(fill='currentColor', cx='45', cy='16', r='4')
										circle.circle-2(fill='currentColor', cx='32', cy='16', r='4')
										circle.circle-1(fill='currentColor', cx='19', cy='16', r='4')
							div.mkbl-fieldset-bg
						fieldset#field-region.mkbl-fieldset.is-clean
							label.mkbl-label(for="") Region*
							div.mkbl-subinput
								i: svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='62px', height='32.667px', viewbox='0 0 62 32.667', enable-background='new 0 0 62 32.667', xml:space='preserve')
										circle.circle-3(fill='currentColor', cx='45', cy='16', r='4')
										circle.circle-2(fill='currentColor', cx='32', cy='16', r='4')
										circle.circle-1(fill='currentColor', cx='19', cy='16', r='4')
							div.mkbl-fieldset-bg
						fieldset#field-inquiry.mkbl-fieldset.is-clean
							label.mkbl-label(for="") Inquiry Type*
							div.mkbl-subinput
								i: svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='62px', height='32.667px', viewbox='0 0 62 32.667', enable-background='new 0 0 62 32.667', xml:space='preserve')
										circle.circle-3(fill='currentColor', cx='45', cy='16', r='4')
										circle.circle-2(fill='currentColor', cx='32', cy='16', r='4')
										circle.circle-1(fill='currentColor', cx='19', cy='16', r='4')
							div.mkbl-fieldset-bg
					button.mkbl-button Submit

		script(src='app.js')
		//- Google Analytics: change UA-XXXXX-X to be your site's ID.
		script.
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X','auto');ga('send','pageview');
