doctype html
html.no-js(lang='')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='apple-touch-icon', href='apple-touch-icon.png')
		//- Place favicon.ico in the root directory
		link(rel='stylesheet', href='index.css')
		script(src='//cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js')
	body.gradient-1
		include includes/symbols.svg
		//- //if lt IE 8
		//- 	p.browserupgrade
		//- 		| You are using an 
		//- 		strong outdated
		//- 		|	browser. Please 
		//- 		a(href='http://browsehappy.com/') upgrade your browser
		//- 		|	to improve your experience.


		//- script will add automatically the scroll effect class here
		.mkbl-slide-container
			//- START SLIDE
			div.mkbl-slide( data-gradient='')
				.mkbl-slide-bg(style='background:url(img/cog-gradient-photo-6.png) no-repeat; background-size: cover')
				.mkbl-slide-inner-wrapper
					.slide-tag 
						strong #Perspective&nbsp;
						| &nbsp;|&nbsp;&nbsp;38k Shares
					h3 Healthcare Consumerism: 
					h4 The Significance of Real-Time Mobile Infrastructure 
					p Added for you on 12.14.14
					.mkbl-slider-bottom-group
						hr
						h6.mkbl-slide-body A shift to individual healthcare.
						p.mkbl-slide-body
							| Healthcare consumers are gaining control over how and with whom — they spend their healthcare dollars. 

			//- END SLIDE
			//- START SLIDE
			div.mkbl-slide( data-gradient='')
				.mkbl-slide-bg(style='background:url(img/cog-gradient-photo-5.png) no-repeat; background-size: cover')
				.mkbl-slide-inner-wrapper
					.slide-tag 
						strong #CaseStudy&nbsp;
						| &nbsp;|&nbsp;&nbsp;38k Shares
					h3 Healthcare Consumerism: 
					h4 Travel Planning 2020: The Journey Toward Market Prosperity 
					p Added for you on 12.14.14
					.mkbl-slider-bottom-group
						hr
						h6.mkbl-slide-body A shift to individual healthcare.
						p.mkbl-slide-body
							| Healthcare consumers are gaining control over how and with whom — they spend their healthcare dollars. 

			//- END SLIDE
			//- START SLIDE
			div.mkbl-slide( data-gradient='')
				.mkbl-slide-bg(style='background:url(img/cog-gradient-photo-4.png) no-repeat; background-size: cover')
				.mkbl-slide-inner-wrapper
					.slide-tag 
						strong #Perspective&nbsp;
						| &nbsp;|&nbsp;&nbsp;38k Shares
					h3 Healthcare Consumerism: 
					h4  Gamifying Business to Drive Employee Engagement and Performance 
					p Added for you on 12.14.14
					.mkbl-slider-bottom-group
						hr
						h6.mkbl-slide-body A shift to individual healthcare.
						p.mkbl-slide-body
							| Healthcare consumers are gaining control over how and with whom — they spend their healthcare dollars. 

			//- END SLIDE
			//- START SLIDE
			div.mkbl-slide( data-gradient='')
				.mkbl-slide-bg(style='background:url(img/cog-gradient-photo-3.png) no-repeat; background-size: cover')
				.mkbl-slide-inner-wrapper
					.slide-tag 
						strong #CaseStudy&nbsp;
						| &nbsp;|&nbsp;&nbsp;38k Shares
					h3 Healthcare Consumerism: 
					h4 The Rise of the Empowered Healthcare Consumer
					p Added for you on 12.14.14
					.mkbl-slider-bottom-group
						hr
						h6.mkbl-slide-body A shift to individual healthcare.
						p.mkbl-slide-body
							| Healthcare consumers are gaining control over how and with whom — they spend their healthcare dollars. 
			//- END SLIDE
			//- START SLIDE
			div.mkbl-slide( data-gradient='')
				.mkbl-slide-bg(style='background:url(img/cog-gradient-photo-2.png) no-repeat; background-size: cover')
				.mkbl-slide-inner-wrapper
					.slide-tag 
						strong #Perspective&nbsp;
						| &nbsp;|&nbsp;&nbsp;38k Shares
					h3 Healthcare Consumerism: 
					h4 The Rise of the Empowered Healthcare Consumer
					p Added for you on 12.14.14
					.mkbl-slider-bottom-group
						hr
						h6.mkbl-slide-body A shift to individual healthcare.
						p.mkbl-slide-body
							| Healthcare consumers are gaining control over how and with whom — they spend their healthcare dollars. 
			//- END SLIDE

		//- START NAVIGATION ARROWS
		i#js-prev-arrow.mkbl-left-arrow.mkbl-slide-nav
			svg: use(xlink:href='#icon-carrot')
		i#js-next-arrow.mkbl-right-arrow.mkbl-slide-nav
			svg: use(xlink:href='#icon-carrot')
		//- END NAVIGATION ARROWS


		script(src='app.js')
		//- Google Analytics: change UA-XXXXX-X to be your site's ID.
		script.
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X','auto');ga('send','pageview');
