@keyframes sparkle
	0%
		fill darkblue
	50%
		fill lightblue
	100%
		fill darkblue
	
@-webkit-keyframes sparkle
	0%
		fill darkblue
	50%
		fill lightblue
	100%
		fill darkblue

@keyframes wiggle
	0%
		transform translateX(3px)
	25%
		transform translateX(-3px)
	50%
		transform translateX(-3px)
	100%
		transform translateX(3px)
	
@-webkit-keyframes wiggle
	0%
		transform translateX(3px)
	25%
		transform translateX(-3px)
	50%
		transform translateX(-3px)
	100%
		transform translateX(3px)