.mkbl-button
	background-color darkblue
	border none
	color white
	padding 15px 68px
	margin 50px auto
	display block
	upcase()
	color lightgray
	fs(1.6rem)
	font-family ProximaNovaBold
	transition all 0.2s ease
	position relative
	z-index 9999
	&:disabled
		background-color darkgray
	&:hover
		background-color lighten(darkblue,3)
	