$input
	background-color rgba(0,0,0,0)
	border: 0px solid transparent
	width 100%
	color blue
	&:focus
		background-color rgba(0,0,0,0.1)
		
.mkbl-form
	button
		opacity 0
		transition opacity 0.3s ease
		&:focus
			opacity 1
			background-color darkblue
.mkbl-form-main-field
	position relative
.mkbl-fieldset
	display block
	margin-top 50px
	position relative
	width 100%
	transition all 0.4s ease-in 0s
	&.is-hidden
		display none
	&.is-active
		.mkbl-label
			top -10px
			color white
			transition all 0.4s cubic-bezier(0.68, 0, 0.2, 1.05) 0.1s
			opacity 1
		.mkbl-subinput
			transition all 0.3s ease
			opacity 1
			i
				opacity 1
		.mkbl-fieldset-bg
			height 40px
			background-color rgba(0,0,0,0.1)
			transition all 0.4s ease-in-out 0s
	&.is-filled
		.mkbl-label
			top -10px
	&.is-typing
		svg circle
			&:nth-of-type(3)
				-webkit-animation sparkle 0.8s infinite 0s
				animation sparkle 0.8s infinite 0s
			&:nth-of-type(2)
				-webkit-animation sparkle 0.8s infinite 0.2s
				animation sparkle 0.8s infinite 0.2s
			&:nth-of-type(1)
				-webkit-animation sparkle 0.8s infinite 0.4s
				animation sparkle 0.8s infinite 0.4s
		

.hide-overflow
	overflow hidden
.mkbl-fieldset-bg
	height 0px
	background-color rgba(0,0,0,0)
	position absolute
	width 100%
	bottom 0px
	transform-origin 50% 50%
	transition all 0.1s ease
	
.mkbl-form-subfields
	group()
	.mkbl-fieldset
		cursor pointer
		col(1/3, cycle:3, gutter: 6)
		transform translateX(0px)
		@media screen and (max-width: 960px)
			col(1/2, cycle:2, uncycle:1, gutter: 6)
		@media screen and (max-width: 620px)
			col(1/1, cycle:1, uncycle:2, gutter: 6)	
		&.is-clean
			transform translateY(-40px)
			.mkbl-label
				opacity 0
			.mkbl-subinput
				// width 0%
				opacity 0
		&.is-filled,
		&.is-active
			opacity 1
			.mkbl-subinput
				opacity 1
				// width 100%
			
.mkbl-label,
.mkbl-main-label
	upcase()
	color lightgray
	font-family ProximaNovaBold
	fs(1.4rem)
	position relative
	transition all 0.3s ease-in 0s
	
.mkbl-label
	top 27px
	
.mkbl-main-label
	color white
	top -3rem
	
.mkbl-subinput
	@extend $input
	padding 11px 1px
	height 40px
	line-height 1
	border-bottom 1px solid lightgray
	fs(1.8rem)
	position relative
	i
		size 30px 20px
		position absolute
		left 5px
		top 0
		bottom 0
		margin auto
		color darkblue
		opacity 0
		transition all 0.3s ease
	
.mkbl-main-input
	@extend $input
	height 80px
	fs(3.2rem)
	padding 0 3rem
	&.position-absolute
		position absolute
		left 0
		bottom 0
		// background-color green
	&.has-error
		color red
		border-top 1px solid red
		border-left 1px solid red
		border-right 1px solid red
.mkbl-form-progress-bar
	width 100%
	height 3px 
	background-color lightgray
	position relative

.mkbl-form-progress-bar-progress
	width 0%
	height 3px
	position absolute
	top 0
	left 0
	bottom 0
	left 0
	transition width 0.5s cubic-bezier(0.68, 0, 0.2, 1.05) 0.2s
	background-color green
	
.gradient .mkbl-form-progress-bar-progress
	transition width 0.5s cubic-bezier(0.68, 0, 0.2, 1.05) 0.2s
	background: -moz-linear-gradient(90deg, blue 0%, green 100%)
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,blue), color-stop(100%,green))
	background: -webkit-linear-gradient(90deg, blue 0%,green 100%)
	background: -o-linear-gradient(90deg, blue 0%,green 100%)
	background: -ms-linear-gradient(90deg, blue 0%,green 100%)
	background: linear-gradient(90deg, blue 0%,green 100%)
	
.mkbl-form-arrow
	position absolute
	right 20px
	top 40px
	// bottom -20px
	margin auto
	size 32px
	color blue
	&.mkbl-down-arrow
		transform rotate(450deg)

.mkbl-select
	-webkit-appearance: none
	background transparent
	width 100%
	width calc(100% +15px)
	border-radius: 0
	outline 0		
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
	border: 0px solid transparent
	position:absolute
	left:-9999px
	opacity:0
	&:focus
		outline 0
	+ .mkbl-right-arrow
		transform rotate(450deg)
	option
		border: 0px solid transparent
		fs(1.8rem)
		padding 16px 20px
		box-shadow none
		color darkblue
		background: white
		
.mkbl-form-hint
	position absolute
	right 0
	top -46px
	margin-top 5px
	color darkgray
	fs(1.5rem)
	font-family ProximaNovaItalic
	opacity 0
	transform translateX(-16px)
	transition all 0.3s ease-out
	&.is-displayed
		opacity 1
		transform translateX(0px)
	i
		width 25px
		height 20px
		position relative 
		top 6px
		margin-right 8px
		color lightblue
		opacity 0.9
	span
		position relative
		top 1px
		margin-right 24px

.js-form-next
	cursor pointer

.mkbl-sselect
	background-color rgba(0,0,0,0.1)
	&:placeholder
		color darkgray
.mkbl-sselect
	&::-webkit-input-placeholder
		color darkgray

.mkbl-select-option
	// display none
	cursor pointer
	opacity 0
	padding 20px 30px
	transition opacity 0.3s ease

.mkbl-select-bg
	height 0px
	position relative
	top 3px
	background-color rgba(0,0,0,0.1)
	fs(1.8rem)
	font-family ProximaNova
	color blue
	transition all 0.6s ease
	// position absolute
	// width 100%
	// z-index 999
	// top 100px
	&.is-open
		height 349px
		transition height 0.6s ease 0.1s
		.mkbl-select-option
			// display block
			opacity 1
			background-color rgba(0,0,0,0)
			transition opacity 0.4s ease 0.4s, background-color 0.2s ease
			&.is-active
				background-color rgba(0,0,0,0.1)