ProximaNova = ProximaNova-Reg, sans-serif;
ProximaNovaItalic = ProximaNova-RegIt, sans-serif;
ProximaNovaLight = ProximaNova-Light, sans-serif;
ProximaNovaBold = ProximaNova-Bold, sans-serif;

lightblue = #72cdf4
blue = #50b3cf
darkblue = #00728f
green = #6db33f
darkgreen = #387c2c
lightgray = #c4bdc0
darkgray = #666666
orange = #df7a1c
black = #231f20
red = #ea2e49