.swiper-container
	width: 1024px
	height: 520px
	
.swiper-wrapper
	-ms-overflow-style none
	&::-webkit-scrollbar
		display none

.swiper-slide-inner-wrapper
	padding 36px 38px

.slide-tag
	background-color white
	color darkblue
	padding 10px
	margin-bottom 56px
	fs(1.8rem)

.swiper-slide
	transform scale(0)
	opacity 0
	transition opacity 0s linear
	h3
		padding-bottom 6px
	h4
		padding-bottom 26px
	h6
		padding-bottom 12px
	p
		color white
		
.swiper-slide-active	
	transform scale(1)
	// padding 36px 38px
	background url(img/slideBackground.jpg) no-repeat
	background-size cover
	// left -36px
	min-width 500px
	opacity 1
	z-index 1
	// .swiper-slide-inner-wrapper
	// 	padding 0
		
// .swiper-slide-next
// 	left -101px
// .swiper-slide-prev
// 	right -29px
.swiper-slide-prev,
.swiper-slide-next
	transform scale(1)
	z-index: 0
	opacity 1
	// transform scale(0.8)
	hr,
	h6,
	.slide-body
		opacity 0
	p
		font-family ProximaNova
		

	
.swiper-container-horizontal 
	> .swiper-pagination
		position fixed 
		right 30px 
		bottom 50% 
		left auto
		margin auto
	> .swiper-pagination 
		.swiper-pagination-bullet
			display block
			opacity 1
			margin 5px 0
			background none
			border 1px solid white
	
		