h1, h2, h3, h4, h5, h6
	font-family ProximaNovaBold
	color white

p
	font-family ProximaNovaLight
	fs(1.8rem)
	line-height 1.2
	color darkgray
	
h1
	color: #ffffff
	fs(5.8rem)
	line-height: 1.1
	text-align: center
	upcase()

h3
	fs(1.8rem)
	upcase()
	line-height: 1.1

h4
	fs(3.2rem)
	line-height: 1.2
	
h6
	fs(1.8rem)
	line-height: 1.1	
